@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.dark-map-tiles {
  filter: invert(100%) hue-rotate(180deg) brightness(70%) contrast(120%) grayscale(70%);
}
